*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
    width: 100%;
    height: 100vh;
    background-image: url("images/back.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
}

.main-menu{
    background: rgb(85, 4, 109);
}

.nav-link{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.nav-link ul{
    display: flex;
    justify-content: flex-start;
    
}

.nav-link ul li{
    list-style: none;
    padding: 1.5rem;

}

.nav-link ul li a{
    text-decoration: none;
    color: #fff;
}
/* .nav-link ul li:hover{
    background: #fff;
    color: rgb(85, 4, 109);
} */

.nav-link ul li a:hover{
    background: #fff;
    color: rgb(85, 4, 109);
}


.content{
    margin-top: 2rem;
    position: absolute;
    top: -150%;
    left: 50%;    
    transform: translate(-50%, -50%) scale(1.25);
    transition:transform 0.4s, top 0.4s;
}

/* js style popup */
.showPop{
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}
/* js style popup */



.form-data{
    width: 25rem;
    background: #ddd;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 16px 1px;

}

.form-data span{
    
    font-size: 2rem;
    position: absolute;
    right: 0;
    top: 0;
    background: green;
    padding: 0 1rem;
    color: #fff;
    border-radius: 1rem;
    text-align: center;
}

.form-data span:hover{
    cursor: pointer;
    
  
}

.form-data h1{
    margin-bottom: 2rem;
    text-align: center;
    
}

.form-data label{
   display: block;
   padding-top: 1rem;
}

.form-data input{
    width: 100%;
    padding: 0.5rem;
    border: 1px solid green;
    border-radius: 0.5rem;
    background: transparent;
    outline: none;

 }

.form-data p{
  margin-top: 1rem;    
}

.form-data p a{
    text-decoration: none;  
    color: green;
    margin-left: 0.3rem; 
}


.form-data button{
    width: 100%;
    padding: 0.5rem;
    border: 1px solid green;
    border-radius: 0.5rem;
    outline: none;
    color: #fff;
    background: green;
    margin-top: 1rem;
    
 }

